/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-brown);
  --color-primary-variant: var(--color-grey);
  --color-accent: var(--color-yellow);
  --color-accent-variant: var(--color-pink);
  --color-text: var(--color-white);
  /* Colors */
  --color-brown: #333333;
  --color-white: #ffffff;
  --color-grey: #bfc9ca;
  --color-yellow: #ffff99;
  --color-pink: #ff635e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid transparent;
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}

/* Header */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: all 300ms ease;
}

.header--dark {
  background-color: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
  font-weight: 700;
}

.header__toggle {
  display: none;
  color: var(--color-text);
  font-size: 1.2rem;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  display: block;
  padding: 8px 16px;
  font-weight: 600;
  border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

/* Home */
#home {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  background-color: var(--color-primary-variant);
  color: var(--color-primary);
  padding: 0rem 10rem;
  padding-top: 7rem;
  text-align: center;
}

.home__description {
  padding: 5rem 0rem;
}

.home__description__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1rem;
}

.home__description__description {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 1rem;
}

.home__description__buttons {
  font-weight: 500;
  text-align: left;
  font-size: 0.85rem;
  display: flex;
  gap: 20px;
}

.home__description__buttons__button {
  display: inline;
  text-align: center;
  gap: 8px;
  background-color: var(--color-primary-variant);
  color: var(--color-primary);
  padding: 0.5rem 1rem;
  margin: 0rem;
  border: 1px solid var(--color-primary);
  border-radius: 15px;
}

.home__description__buttons__button:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
}

.home__avatar {
  width: 400px;
  height: auto;
  object-fit: cover;
}

/* About */
#about {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 7rem 10rem;
  text-align: center;
}

.about__avatar {
  width: 350px;
  height: auto;
  object-fit: cover;
}

.about__description {
  padding-left: 2.5rem;
  text-align: left;
}

.about__description__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.about__description__title--strong {
  color: var(--color-accent);
}

.about__description__description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.about__description__specs {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.about__description__specs__subjects {
  font-weight: 600;
}

.about__description__specs__subjects__subject {
  margin-bottom: 1.5rem;
}

.about__description__specs__infos {
  font-weight: 400;
}

.about__description__specs__infos__info {
  margin-bottom: 1.5rem;
}

.about__button {
  font-weight: 500;
  font-size: 0.85rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-text);
  border-radius: 15px;
}

.about__button:hover {
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-primary);
}

/* Skills */
#skills {
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
  padding: 0rem 7rem;
  padding-bottom: 5rem;
}

.skills__title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.skills__title--strong {
  color: var(--color-accent);
}

.skills__description {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.skills__items {
  cursor: default;
}

.skills__items__first {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
  margin-bottom: 1rem;
}

.skills__items__first__item {
  padding: 2rem 1rem;
  border: 1px solid var(--color-text);
  border-radius: 1rem;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

.skills__items__first__item:hover .skills__icon {
  transform: rotate(-15deg) scale(1.2);
}

.skills__items__first__item__title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.skills__items__second {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.skills__items__second__item {
  padding: 2rem 1rem;
  border: 1px solid var(--color-text);
  border-radius: 1rem;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

.skills__items__second__item:hover .skills__icon {
  transform: rotate(-15deg) scale(1.2);
}

.skills__items__second__item__title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.skills__icon {
  font-size: 3rem;
  margin: 1rem 0rem;
  color: var(--color-accent);
  transition: all 300ms ease;
}

/* Hire me */
#hire_me {
  position: relative;
  text-align: center;
  color: var(--color-text);
  background: var(--color-primary);
  white-space: nowrap;
}

.hire_me__img {
  opacity: 0.5;
}

.hire_me__phrase {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.hire_me__button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: transparent;
  color: var(--color-text);
  padding: 0.3rem 1rem;
  margin: 0rem;
  border: 1px solid var(--color-text);
  border-radius: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}

.hire_me__button:hover {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  color: var(--color-primary);
}

/* Portfolio */
#portfolio {
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
  padding: 5rem 10rem;
}

.portfolio__title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.portfolio__title--strong {
  color: var(--color-accent);
}

.portfolio__description {
  font-size: 1.2rem;
  font-weight: 400;
}

.portfolio__categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}

.portfolio__categories__category {
  position: relative;
  color: var(--color-text);
  font-size: 0.9rem;
  padding: 0.5rem 3rem;
  border-radius: 4px;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  white-space: nowrap;
}

.category--selected {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.count {
  opacity: 0;
  position: absolute;
  top: -20px;
  right: 16px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: var(--color-accent-variant);
  color: var(--color-text);
  transition: all 250ms ease-in;
}

.category--selected .count,
.portfolio__categories__category:hover .count {
  opacity: 1;
  top: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}

.project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__title {
  font-size: 1rem;
  font-weight: 600;
}

.project__title:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  width: 50px;
  height: 2px;
  background-color: var(--color-accent);
}

.project__description {
  font-size: 0.8rem;
  font-weight: 400;
}

/* Resume */
#resume {
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
  padding: 5rem 10rem;
}

.resume__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.resume__items__item {
  display: flex;
}

.resume__items__item__box {
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  position: relative;
  font-size: 2rem;
  margin: 0rem 0rem;
  color: var(--color-primary);
  height: 3rem;
  padding: 0rem 1rem;
  text-align: center;
  justify-content: center;
}

.resume__items__item__icon {
  font-size: 1.5rem;
  transition: all 300ms ease;
}

.resume__items__item__box:hover .resume__items__item__icon {
  transform: rotate(-15deg) scale(1.2);
}

.resume__items__item__info:hover .resume__items__item__icon {
  transform: rotate(-15deg) scale(1.2);
}

.resume__items__item__icon {
  transition: all 300ms ease;
}

.resume__items__item__info {
  border: 1px solid var(--color-text);
  position: relative;
  display: flexbox;
  overflow: hidden;
  text-align: left;
  padding: 1rem 1rem;
}

.resume__title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.resume__title__job {
  font-weight: 400;
  font-size: 1rem;
}

.resume__years {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--color-accent);
  margin-bottom: 0.8rem;
}

.resume__description {
  font-weight: 500;
  font-size: 0.9rem;
}

.resume__description--strong {
  font-weight: 500;
  border-bottom: 1px solid var(--color-accent);
}

/* Contact */
#contact-me {
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
  padding: 0rem 10rem;
}

.contact-me__title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.contact-me__title--strong {
  color: var(--color-accent);
}

.contact-me__descripiton {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.contact-me__input {
  list-style-type: none;
  margin-bottom: 2rem;
}

input[type="text"],
input[type="email"] {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: 1px solid var(--color-text);
}

#fullname {
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.contact-me__input__first {
  margin-bottom: 0.5rem;
}

.contact-me__input__second {
  display: flex;
  padding: 0;
  margin-bottom: 0.5rem;
}

#email {
  width: 50%;
  margin-right: 0.25rem;
  padding: 0.25rem 0.5rem;
}

#subject {
  width: 50%;
  margin-left: 0.25rem;
  padding: 0.25rem 0.5rem;
}

#message {
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.contact-me__button {
  font-weight: 500;
  font-size: 0.85rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-text);
  border-radius: 15px;
}

.contact-me__button:hover {
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-primary);
}

/* Arrow up */
.arrow-up {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 5px 5px 0px 0px var(--color-accent);
  transition: opacity 300ms ease-in;
}

/* Footer */
#contact {
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
}

.contact__title {
  font-size: 2rem;
  font-weight: 600;
}

.contact__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.7rem;
}

.contact__link {
  transition: color 250ms ease-in;
}

.contact__link:hover {
  color: var(--color-accent);
}

.contact__copyright {
  font-size: 0.85rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  /* Common */
  .section {
    padding: 3rem 2rem;
  }

  /* Header */
  .header {
    flex-direction: column;
    align-items: start;
    background-color: var(--color-primary);
  }

  .header__toggle {
    display: block;
  }

  .header__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 1rem 4rem;
    gap: 1rem;
  }

  .header__menu.open {
    display: flex;
  }

  .header__nav {
    width: 100%;
  }

  /* Home */
  #home {
    padding: 0rem 5rem;
    padding-top: 3.5rem;
  }

  .home__description__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .home__description__description {
    font-size: 0.88rem;
    margin-bottom: 0.5rem;
  }

  .home__description__buttons {
    font-size: 0.68rem;
  }

  .home__avatar {
    width: 320px;
    height: auto;
    object-fit: cover;
  }

  /* About */
  #about {
    padding: 3.5rem 5rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .about__avatar {
    width: 280px;
    height: auto;
    object-fit: cover;
  }

  .about__description {
    padding-left: 1.25rem;
  }

  .about__description__title {
    font-size: 1.6rem;
    margin-bottom: 0.75rem;
  }

  .about__description__description {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
  }

  .about__description__specs {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
  }

  .about__description__specs__subjects__subject {
    margin-bottom: 0.75rem;
  }

  .about__description__specs__infos__info {
    margin-bottom: 0.75rem;
  }

  .about__button {
    font-size: 0.68rem;
    padding: 0.25rem 0.5rem;
  }

  /* Skills */
  #skills {
    padding: 0rem 3.5rem;
    padding-bottom: 2.5rem;
  }

  .skills__title {
    font-size: 1.92rem;
    margin-bottom: 0.4rem;
  }

  .skills__description {
    font-size: 0.96rem;
    margin-bottom: 0.5rem;
  }

  .skills__items__first {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 1.25rem 0;
    margin-bottom: 0.5rem;
  }

  .skills__items__first__item {
    padding: 1rem 0.5rem;
    max-width: 25rem;
  }

  .skills__items__first__item__title {
    font-size: 1.04rem;
    margin-bottom: 0.5rem;
  }

  .skills__items__second {
    flex-direction: column;
    align-items: center;
  }

  .skills__items__second__item {
    padding: 1rem 0.5rem;
    max-width: 25rem;
  }

  .skills__items__second__item__title {
    font-size: 0.96rem;
    margin-bottom: 0.5rem;
  }

  .skills__icon {
    font-size: 1.5rem;
    margin: 0.5rem 0rem;
  }

  /* Hire me */
  .hire_me__phrase {
    font-size: 1.36rem;
  }

  .hire_me__button {
    font-size: 0.68rem;
    padding: 0.15rem 0.8rem;
  }

  /* Portfolio */
  #portfolio {
    padding: 2.5rem 5rem;
  }

  .portfolio__title {
    font-size: 1.92rem;
    margin-bottom: 0.4rem;
  }

  .portfolio__description {
    font-size: 0.96rem;
  }

  .portfolio__categories {
    margin: 1.25rem;
    gap: 0.5rem;
    flex-direction: column;
  }

  .portfolio__categories__category {
    font-size: 0.72rem;
    padding: 0.25rem 1.5rem;
    width: 100%;
  }

  .count {
    top: -8px;
    right: 6.4px;
    width: 22.4px;
    height: 22.4px;
    line-height: 22.4px;
  }

  .projects {
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .project__img {
    height: 100%;
  }

  .project__title {
    font-size: 0.8rem;
  }

  .project__title:after {
    left: 50%;
    transform: translateX(-50%);
    margin: 0.25rem 0;
    width: 40px;
    height: 1.6px;
  }

  .project__description {
    font-size: 0.64rem;
  }

  /* Resume */
  #resume {
    padding: 3.5rem 5rem;
  }

  .resume__items {
    gap: 0.5rem;
  }

  .resume__items__item__box {
    font-size: 1.6rem;
    height: 2.4rem;
    padding: 0.5rem 0.5rem;
  }

  .resume__items__item__icon {
    font-size: 1.2rem;
  }

  .resume__items__item__info {
    padding: 0.5rem 0.5rem;
  }

  .resume__title {
    font-size: 0.96rem;
    margin-bottom: 0.15rem;
  }

  .resume__years {
    font-size: 0.72rem;
    margin-bottom: 0.4rem;
  }

  .resume__description {
    font-size: 0.72rem;
  }

  /* Contact */
  #contact-me {
    padding: 3.5rem 5rem;
  }

  .contact-me__title {
    font-size: 1.92rem;
    margin-bottom: 0.4rem;
  }

  .contact-me__descripiton {
    font-size: 0.96rem;
    margin-bottom: 0.75rem;
  }

  .contact-me__input {
    margin-bottom: 1rem;
  }

  #fullname {
    padding: 0.125rem 0.25rem;
  }

  .contact-me__input__first {
    margin-bottom: 0.25rem;
  }

  .contact-me__input__second {
    margin-bottom: 0.25rem;
  }

  #email {
    margin-right: 0.125rem;
    padding: 0.125rem 0.25rem;
  }

  #subject {
    margin-left: 0.125rem;
    padding: 0.125rem 0.25rem;
  }

  #message {
    padding: 0.125rem 0.25rem;
  }

  .contact-me__button {
    font-size: 0.68rem;
    padding: 0.25rem 0.5rem;
  }

  /* Arrow up */
  .arrow-up {
    background-color: var(--color-primary);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
  }

  /* Footer */
  .contact__title {
    font-size: 1.6rem;
  }

  .contact__links {
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1.36rem;
  }

  .contact__copyright {
    font-size: 0.68rem;
  }
}
